<section class="card mat_card">
    <div class="container-fluid">
        <div id="info_data" class="col-8">
            <div id="experiencia">
                <h2>Proyectos</h2>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="informacion" class="col-8">
            <ul style="list-style: none">
                <li>
                    <a href="https://github.com/ariana-luz/portfolio_estatico" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C560BAQGv-Dd7A2pQ0g/company-logo_200_200/0/1646458288684?e=1672272000&v=beta&t=g9p4u_sLdDGy0XM4CvjlRcv4k9_b7g8WHOx_H9hQqj0"
                            alt="Logo UBA">
                    </a>
                    <h4>Mi portfolio en Github</h4>
                    <h5>Argentina Programa</h5>
                    <p>2022</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="card mat_card">
    <div class="container-fluid">
        <div id="info_data" class="col-8">
            <div id="experiencia">
                <h2>Certificaciones</h2>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="informacion" class="col-8">
            <ul style="list-style: none">
                <li>
                    <a href="https://mumuki.io/argentina-programa/certificates/verify/6E_Y_glgWr8dh6J3" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHhDPmHBm3pCg/company-logo_200_200/0/1563979482487?e=1672272000&v=beta&t=AjQ8cf2nfnQcMpyma__tvFdElYBhNi73fv92wfVprxI"
                            alt="Logo Mumuki">
                    </a>
                    <h4>Certificación Sé programar</h4>
                    <h5>Argentina Programa</h5>
                    <p>2021</p>
                </li>
                <li>
                    <a
                        href="https://certificados.educacionit.com/certificados/cache/Ariana-Osuna-Vargas-1A572531/1A51564" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHWD6W0Nbd8sw/company-logo_200_200/0/1647956251519?e=1672272000&v=beta&t=Q6h1i51woseFhkGjEgWyL13NCzjLEmr9FLTUnoLoIPY"
                            alt="Logo EducacionIT">
                    </a>
                    <h4>Social Media Ads</h4>
                    <h5>Educación IT</h5>
                    <p>2021</p>
                </li>
                <li>
                    <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A52288" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHWD6W0Nbd8sw/company-logo_200_200/0/1647956251519?e=1672272000&v=beta&t=Q6h1i51woseFhkGjEgWyL13NCzjLEmr9FLTUnoLoIPY"
                            alt="Logo EducacionIT">
                    </a>
                    <h4>Front End Web Developer</h4>
                    <h5>Educación IT</h5>
                    <p>2021</p>
                </li>
                <li>
                    <a href= "https://learndigital.withgoogle.com/link/1nur091p2ww" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGlBBVXCfSVag/company-logo_200_200/0/1570003065196?e=1672272000&v=beta&t=b9CnPs8WK5kf54feyIlJYT05T3g4D6jNNXd9SUhMD1o"
                            alt="Logo GoogleActivate">
                    </a>
                    <h4>Introducción al Desarrollo Web I</h4>
                    <h5>Google Actívate</h5>
                    <p>ID de la credencial: 44M QFS WGW</p>
                </li>
                <li>
                    <a href= "https://api.educacionit.com/pdf/certificados/Ariana-Osuna-Vargas-572531/51818" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHWD6W0Nbd8sw/company-logo_200_200/0/1647956251519?e=1672272000&v=beta&t=Q6h1i51woseFhkGjEgWyL13NCzjLEmr9FLTUnoLoIPY"
                            alt="Logo EducacionIT">
                    </a>
                    <h4>Programación Web</h4>
                    <h5>Educación IT</h5>
                    <p>2021</p>
                </li>
                <li>
                    <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A51328" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHWD6W0Nbd8sw/company-logo_200_200/0/1647956251519?e=1672272000&v=beta&t=Q6h1i51woseFhkGjEgWyL13NCzjLEmr9FLTUnoLoIPY"
                            alt="Logo EducacionIT">
                    </a>
                    <h4>Javascript</h4>
                    <h5>Educación IT</h5>
                    <p>2021</p>
                </li>
                <li>
                    <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A51318" target="_blank">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHWD6W0Nbd8sw/company-logo_200_200/0/1647956251519?e=1672272000&v=beta&t=Q6h1i51woseFhkGjEgWyL13NCzjLEmr9FLTUnoLoIPY"
                            alt="Logo EducacionIT">
                    </a>
                    <h4>User Experience (UX)</h4>
                    <h5>Educación IT</h5>
                    <p>ID de la credencial: 6E_Y_glgWr8dh6J3</p>
                </li>
            </ul>
        </div>
    </div>
</section>