<section class="card mat_card">
    <div class="container-fluid">
        <div id="info_data" class="col-8">
            <div id="experiencia">
                <h2>Experiencia</h2>
                <button type="button" class="btn btn-edit btn-right" onclick="nueva_experiencia()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
                <div>
                    <div id="agregar_experiencia" class="mb-3" style="display:none">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            oninput="myFunction3(this.value)" placeholder="Compañía">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput2"
                            oninput="myFunction4(this.value)" placeholder="Puesto">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput3"
                            oninput="myFunction5(this.value)" placeholder="Período">
                        <button onclick="cambiar_foto_company()" style="display:auto">edit foto</button>
                        <div>
                            <input id="edit_foto2" type="file" onchange="showFile2(this)" style="display:none">
                        </div>
                        <button class="btn btn-primary" type="submit" onclick="guardar_nueva_experiencia()">Guardar
                            experiencia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="informacion" class="col-8">
            <ul style="list-style: none">
                <li>
                    <div id="details" style="display:none">
                        <a href="" target="_blank">
                            <img id="avatar2" src="" alt="">
                        </a>
                        <h4 id="company"></h4>
                        <h5 id="position"></h5>
                        <p id="period"></p>
                    </div>
                </li>
                <div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-edit btn-right" style="display:auto"
                                onclick="edit_experiencia()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div id="editar_experiencia" class="mb-3" style="display:none">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput4"
                            oninput="myFunction12(this.value)" placeholder="Compañía">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput5"
                            oninput="myFunction13(this.value)" placeholder="Puesto">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput6"
                            oninput="myFunction14(this.value)" placeholder="Período">
                        <button onclick="cambiar_foto_company2()" style="display:auto">edit foto</button>
                        <div>
                            <input id="edit_foto6" type="file" onchange="showFile6(this)" style="display:none">
                        </div>
                        <button class="btn btn-primary" type="submit" onclick="guardar_experiencia()">Guardar
                            experiencia</button>
                    </div>
                </div>
                <li *ngFor="let experiencia of experienciaList">
                    <div id="informacion">
                        <a href={{experiencia.url}} target="_blank">
                            <img id="avatar20"
                            [src]="experiencia.img">
                        </a>
                        <h4 id="company1">{{experiencia.company}}</h4>
                        <h5 id="position1">{{experiencia.position}}</h5>
                        <p id="period1"><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="card mat_card">
    <div class="container-fluid">
        <div id="info_data" class="col-8">
            <div id="experiencia">
                <h2>Educación</h2>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-edit btn-right" style="display:auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="informacion" class="col-8">
            <ul style="list-style: none">
                <li *ngFor="let educacion of educacionList">
                    <a href="https://www.uba.ar/">
                        <img [src]="educacion.img"
                            alt="Logo UBA">
                    </a>
                    <h4>{{educacion.school}}</h4>
                    <h5>{{educacion.career}}</h5>
                    <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
                </li>
            </ul>
        </div>
    </div>
</section>
